<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>310260746896-8qnb23u1a9tpdbiqoj93iqmv0jal96ag.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.310260746896-8qnb23u1a9tpdbiqoj93iqmv0jal96ag</string>
	<key>API_KEY</key>
	<string>AIzaSyCK3hqAC6o_RLDAEUDNU-TpAFJdXeYpcM4</string>
	<key>GCM_SENDER_ID</key>
	<string>310260746896</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.movieNight</string>
	<key>PROJECT_ID</key>
	<string>movienight-d629b</string>
	<key>STORAGE_BUCKET</key>
	<string>movienight-d629b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:310260746896:ios:826489c7fa52322b082615</string>
</dict>
</plist>